@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,600,700&display=swap&subset=latin-ext");
body {
  margin: 0;
  padding: 64px;
  background: #f8f8f8;
  font-family: Maven Pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header h1 {
  padding: 8px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fdc22a;
  margin-bottom: 40px;
}

.App-header--grey {
  color: #737373;
}

.Beers-list {
  padding: 0;
}

.Beers-list .infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: .5rem;
}

.Beers-list__item {
  background: #fff;
  list-style: none;
  width: 220px;
  margin: 1.5rem auto;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.01);
  border-radius: 4px;
}

.Beers-list__item:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.18);
}

.Beers-list__img {
  height: 180px;
  margin-bottom: 8px;
}

.Beers-list__name {
  width: 100%;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fdc22a;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.Beers-list__tag {
  width: 100%;
  margin: 0;
  text-align: center;
  color: #bdbdbd;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
