@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,600,700&display=swap&subset=latin-ext');
@import '_variables.scss';

body {
  margin: 0;
  padding: 64px;
  background: $grey-light;
  font-family: Maven Pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  // border: 1px solid black;
  // width: 100%;
  &-header {
    h1 {
      font-weight: 600;
      letter-spacing: -1px;
      color: $orange;
      margin-bottom: 60px;
    }
    &--grey {
      color: $grey;
    }
  }
}

.Beers {
  &-list {
    // border: 1px solid red;
      // margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;

    &__item {
      background: #fff;
      list-style: none;
      width: 220px;
      // margin: 0 auto;
      margin-bottom: 40px;
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      box-shadow: 0px 0px 24px 4px rgba(0,0,0,0.01);
      border-radius: 4px;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
      }
    }
    &__img {
      // width: 80px;
      height: 180px;
      margin-bottom: 8px;
    }
    &__name {
      width: 100%;
      margin: 0;
      font-size: 1.4rem;
      font-weight: 600;
      color: $orange;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
    }
    &__tag {
      width: 100%;
      margin: 0;
      text-align: center;
      color: $grey-mid;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
