@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,600,700&display=swap&subset=latin-ext');
@import '_variables.scss';

body {
  margin: 0;
  padding: 64px;
  background: $grey-light;
  position: relative;
  font-family: Maven Pro, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  &-header {
    h1 {
      padding: 8px;
      font-weight: 600;
      letter-spacing: -1px;
      color: $orange;
      margin-bottom: 40px;
    }
    &--grey {
      color: $grey;
    }
  }
}

.Beers {
  &-list {
    padding: 0;
    .infinite-scroll-component {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: .5rem;
      a {
        text-decoration: none;
      }
    }
    &__item {
      background: #fff;
      list-style: none;
      width: 220px;
      margin: 1.5rem auto;
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      box-shadow: 0px 0px 24px 4px rgba(0,0,0,0.01);
      border-radius: 4px;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
      }
    }
    &__img {
      height: 10rem;
      margin-bottom: 8px;
    }
    &__name {
      width: 100%;
      margin: 0;
      font-size: 1.25rem;
      font-weight: 600;
      color: $orange;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
    }
    &__tag {
      width: 100%;
      margin: 0;
      font-size: .9rem;
      text-align: center;
      color: $grey-mid;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.Details {
  background: #fff;
  max-width: 500px;
  width: 60%;
  height: fit-content;
  position: fixed;
  color: $grey;
  border-radius: 4px;
  font-size: .9rem;
  padding: 40px;
  
  &-main {
    display: flex;
  }
  &--background-grey {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.589);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    height: 20rem;
    margin-right: 40px;
  }
  &__header {
    margin: 0 0 6px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  &__tag {
    margin: 0 0 32px;
    color: $grey-mid;
    position: relative;
    &::after {
      content: '';
      width: 3rem;
      height: 4px;
      background: $orange;
      position: absolute;
      left: 0;
      bottom: -12px;
    }
  }
  &__params {
    margin-right: 16px;
    strong {
      font-weight: 600;
    }
  }
  &__pairing {
    font-weight: 600;
    margin: 24px 0 4px;
    &-list {
      margin: 0 0 24px;
      padding: 0;
      list-style: none;
    }
  }
  &__another {
    font-size: .9rem;
    font-weight: 600;
  }

  &__similar {
    &-container {

      display: flex;
      justify-content: space-between;
    }
    &-beer {
      display: flex;
      max-width: 120px;
      width: 100%;

      flex-direction: column;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 12px;
      border: 1px solid $grey-light;
      border-radius: 2px;
      
    }
    &-header {
    }
    &-img {
      height: 112px;
      align-self: center;

    }
    &-name {
      width: 100%;
      // font-size: inherit;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 600;
      font-size: .9rem;
      align-self: center;


    }
  }
}
// .Details__similar-img {
//   height: 200px;

// }

.loader {
  border: 2px solid $grey-loader;
  border-top: 2px solid $orange;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 8px auto;
  position: absolute;
  bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}